[[source]]
url = "https://pypi.mirrors.ustc.edu.cn/simple/"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
flask-sqlalchemy = "*"
pylint = "*"
yapf = "*"
pymysql = "*"
flask-cors = "*"
flask-cache = "*"
pyinstaller = "*"

[dev-packages]

[requires]
python_version = "3.9"
